body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create a 2x2 grid */
    gap: 20px;
}

.option {
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 1.5em;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s;
}

.option:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

#image-display {
    margin-top: 50px;
}

.test-image {
    width: 300px;
    height: auto;
    border: 2px solid #333;
    border-radius: 10px;
}
